**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.swp
**/*.swo
**/.venv
**/venv
**/env
**/.git
**/.gitignore
**/.mypy_cache
**/.pytest_cache
**/.DS_Store
**/wandb
**/models
**/outputs
**/artifacts
**/*.ipynb
**/*.ipynb_checkpoints
