# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
.env/
.env.*

# Data / outputs
models/
outputs/
artifacts/
wandb/
containerization/

# VSCode
.vscode/

# Python notebooks
*.ipynb_checkpoints/

# PyTorch
*.pt
*.bin

# Docker
**/.DS_Store

.env
